body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2b1055, #7597de);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

header {
    text-align: left;
    padding: 15px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: rgba(255, 100, 100, 0.8);
    text-shadow: 
        0 0 5px rgba(255, 100, 100, 0.7),
        0 0 10px rgba(255, 100, 100, 0.6),
        0 0 15px rgba(255, 100, 100, 0.5),
        0 0 20px rgba(255, 100, 100, 0.4);
    position: relative;
    padding-bottom: 10px;
}

header h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 1);
}

main {
    padding: 30px;
    text-align: left;
    position: relative;
    z-index: 2;
    flex: 1;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.link-box {
    margin: 15px 0;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #00e0ff;
}

.link-box a {
    color: #00e0ff;
    font-size: 1em;
    text-decoration: none;
    flex-grow: 1;
}

.btn-go {
    padding: 8px 15px;
    background-color: #6a00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-go:hover {
    background-color: #a34bff;
}

footer {
    margin-top: 30px;
    color: #bbb;
    text-align: left;
    padding: 15px;
    position: relative;
    z-index: 2;
}

canvas {
    border: 2px solid black;
    background-color: wite;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 225px;
    height: 105px;
}
